# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Linux
# =========================
*~

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.code-workspace

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.cache

# =========================
# LuaJIT
# =========================
luac.out

# =========================
# Git
# =========================
.gitmodules